@charset "UTF-8";
@media screen and (min-width:0px)/*spスケール*/{
  .clearfix{
    content: "";
    display: block;
    clear: both;
  }
  .clear{
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }
  .raleway{
    font-family: "Raleway";
  }
  .lato{
    font-family: "Lato";
    font-weight: 300;
  }
  .body{
    width:100%;
  }
  .inner{
    width: 97%;
    margin: 0 auto;
  }
  .top-header{
    background-color: white;
    padding:15px;
    position: fixed;
    top:  0px;
    width: 97%;
    z-index: 2;
    margin: 0 auto;
  }
  .top-header__bolt{
    opacity: 0.5;
  }
  .top-header__contact{
    background-color: #74cfae;
    color: white;
    display: none;
    float: right;
    font-size: 12px;
    padding: 14px 12px;
    transition-duration: 0.3s;
  }
  .top-header__contact:hover{
    color: #333;
  }
  .top-header__humberger{
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    padding: 10px 10px 5px 10px;
  }
  .top-header__humberger__inborder{
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 0px 13px
  }
  .main__theme{
    background-color: #f2f2f2;
    padding-top: 160px;
    padding-bottom: 130px;
    text-align: center;
  }
  .main__theme__title{
    color: #74cfae;
    font-weight: 700;
    font-size: 80px;
    padding-bottom: 20px;
  }
  .main__theme__subtitle{
    color:#c0c0c0;
    font-size: 30px;
  }
  .main__heading{
    background-color: #74cfae;
    padding: 50px 50px 25px 50px;
    overflow: hidden;
  }
  .main__heading__iphone{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .main__heading__article{
    text-align: center;
  }
  .main__heading__article__title{
    color: white;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 35px;
  }
  .main__heading__article__text{
    color: white;
    font-size: 20px;
    line-height: 25px;
  }
  .main__content{
    background-color: #f2f2f2;
    padding: 60px 0px 70px 0px;
  }
  .main__content__title{
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 300;
  }
  .main__content__figures{
    padding: auto;
    text-align: center;
  }
  .main__content__figures__products{
    opacity: 0.7;
    transition-duration: 0.3s;
    display: block;
    margin: 0 auto;
  }
  .main__content__figures__products:hover{
    opacity: 1;
  }
  .main__content__figures__products:nth-child(3n){
    padding-bottom: 80px;
  }
  .main__content__footer{
    overflow: hidden;
    padding-top: 0px;
  }
  .main__content__footer__text{
    color: #333;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .main__content__footer__mail::before{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  .main__content__footer__mail{
    background-color: #74cfae;
    color: white;
    font-size: 12px;
    padding: 14px 20px;
    transition-duration: 0.3s;
    display: block;
    margin: 0 auto;
  }
  .main__content__footer__mail:hover{
    color: #333
  }
  .main__skills{
    background-color: #4e4e4e;
    text-align: center;
    overflow: hidden;
    padding:  70px 0px 0px 0px;
  }
  .main__skills__title{
    color: white;
    font-weight: 300;
  }
  .main__skills__list__box{
    padding: 0px 90px 88px 90px;
    text-align: center;
  }
  .main__skills__list__box:nth-child(4){
    padding: 0px 90px 0px 90px;
    text-align: center;
  }
  .main__skills__list__box__text{
    color: white;
  }
  .main__sns{
    background-color: #f2f2f2;
    padding: 50px 15px;
  }
  .main__sns__list{
    text-align: center;
  }
  .main__sns__list i{
    color: #74cfae;
    padding: 20px 0;
    text-align: center;
    transition-duration: 0.3s;
    display: block;
  }
  .main__sns__list i:hover{
    background-color: white;
  }
  footer{
    background-color: #74cfae;
    overflow: hidden;
    padding: 20px 0px 25px 0;
  }
  .footer__text{
    color: white;
    float: right;
  }
}
@media screen and (min-width:768px)/*tabスケール*/{
  .top-header__contact{
    background-color: #74cfae;
    color: white;
    display: block;
    float: right;
    font-size: 12px;
    padding: 14px 12px;
    transition-duration: 0.3s;
  }
  .top-header__humberger{
    display: none;
  }
  .main__theme{
    padding-top: 250px;
    padding-bottom: 250px;
  }
  .main__theme__title{
    font-size: 90px;
  }
  .main__skills{
    padding:  70px 0px 100px 0px;
  }
  .main__skills__list{
    margin: 70px 0 0 0;
  }
  .main__sns{
    padding: 200px 0px;
  }
  .main__sns__list i{
    margin: 0 auto;
    width: 185px;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px)/*pcスケール*/{

.inner{
  width: 1100px;
}
.top-header{
  width: 100%;
}
.main__heading{
  padding: 50px 50px 0 50px;
}
.main__heading__iphone{
  float: left;
  padding-right: 150px;
}
.main__heading__article{
  text-align: center;
}
.main__content__figures{
  font-size: 0;
}
.main__content__figures__products{
  padding: 0px 100px 80px 0px;
  display: inline-block;
}
.main__content__figures__products:nth-child(3n){
  padding-right: 0px;
}
.main__content__figures__products:nth-child(n+3){
  padding-bottom: 90px;
}
.main__content__footer{
  text-align: center;
  vertical-align: top;
}
.main__content__footer__text{
  width: 60%;
  display: inline-block;
  padding-bottom: 0;
  padding-right: 90px;
}
.main__content__footer__mail{
  display: inline-block;
}
.main__skills__list__box{
  float: left;
  padding-bottom: 0;
}
.main__skills__list__box:first-child{
  padding-left: 0;
}
.main__skills__list__box:last-child{
  padding-right: 0;
}
}