@charset "UTF-8";
  body{
    font-family: "Lato";
    font-weight: 300;
  }
  .raleway{
    font-family: "Raleway";
  }
  .clearfix{
    content: "";
    display: block;
    clear: both;
  }
  .inner{
    width: 1100px;
    margin: 0 auto;
  }
  .top-header{
    background-color: white;
    padding:15px;
    position: fixed;
    top:  0px;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
  }
  .top-header__bolt{
    opacity: 0.5;
  }
  .top-header__contact{
    background-color: #74cfae;
    color: white;
    display: block;
    float: right;
    font-size: 12px;
    padding: 14px 12px;
    transition-duration: 0.3s;
    text-decoration: none;
  }
  .top-header__contact:hover{
    color: #333;
  }
  .top-header__humberger{
    display: none;
  }
  .main__theme{
    margin-top: 78px;
    background-color: #f2f2f2;
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
  }
  .main__theme__title{
    color: #74cfae;
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 20px;
  }
  .main__theme__subtitle{
    color:#c0c0c0;
    font-size: 30px;
  }
  .main__heading{
    background-color: #74cfae;
    padding-top: 50px;
  }
  .main__heading__iphone{
    margin-bottom: 0;
    margin-right: 200px;
    display: inline-block;
    vertical-align: bottom;
  }
  .main__heading__article{
    text-align: center;
    vertical-align: top;
    width: 650px;
    display: inline-block;
  }
  .main__heading__article__title{
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 35px;
  }
  .main__heading__article__text{
    color: white;
    font-size: 20px;
    line-height: 25px;
  }
  .main__content{
    background-color: #f2f2f2;
    padding: 60px 0px 70px 0px;
  }
  .main__content__title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
  }
  .main__content__figures{
    text-align: center;
    font-size: 0;
    margin-bottom: 90px;
  }
  .main__content__figures__products {
    margin: 0px 100px 80px 0px;
    display: inline-block;
  }
  .main__content__figures__products a{
    opacity: 0.7;
    transition-duration: 0.3s;
    display: inline-block;
  }
  .main__content__figures__products a:hover{
    opacity: 1;
  }
  .main__content__figures__products:nth-child(3n){
    margin-right: 0px;
  }
  .main__content__figures__products:nth-last-child(-n+3){
    margin-bottom: 0px;
  }
  .main__content__footer{
    text-align: center;
  }
  .main__content__footer__text{
    font-size: 20px;
    line-height: 25px;
    width: 50%;
    display: inline-block;
    margin-right: 90px;
    vertical-align: top;
    color: #333;
    text-align: center;
  }
  .main__content__footer__mail{
    background-color: #74cfae;
    color: white;
    font-size: 12px;
    padding: 14px 20px;
    transition-duration: 0.3s;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
  }
  .main__content__footer__mail:hover{
    color: #333
  }
  .main__skills{
    background-color: #4e4e4e;
    text-align: center;
    padding:  70px 0px 100px 0px;
  }
  .main__skills__title{
    color: white;
    font-weight: 300;
    margin-bottom: 70px;
  }
  .main__skills__list figure{
    margin-right: 180px;
    display: inline-block;
  }
  .main__skills__list figure:last-child{
    margin-right: 0px;
  }
  .main__skills__list__box__text{
    color: white;
  }
  .main__sns{
    background-color: #f2f2f2;
    padding: 200px 0px;
  }
  .main__sns__list{
    text-align: center;
  }
  .main__sns__list i{
    color: #74cfae;
    padding: 20px 0;
    transition-duration: 0.3s;
    width: 185px;
    display: inline-block;
  }
  .main__sns__list a{
    display: inline-block;
  }
  .main__sns__list a:hover{
    background-color: white;
  }
  footer{
    background-color: #74cfae;
    overflow: hidden;
    padding: 20px 0px 25px 0;
  }
  .footer__text{
    color: white;
    text-align: right;
  }
@media screen and (max-width:1199px)/*tabスケール*/{
  .inner{
    width: 97%;
  }
  .main__heading{
    padding: 50px 0 25px 0;
  }
  .main__heading__iphone{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main__heading__article{
    width: 100%;
  }
  .main__content__figures__products{
    display: block;
    margin: 0 auto;
  }
  .main__content__figures__products:last-child{
    margin-bottom: 0px;
  }
  .main__content__figures__products:nth-child(3n){
    margin-right: 0px;
    margin-bottom: 80px;
  }
  .main__content__footer__text{
    margin-bottom: 40px;
    margin-right: 0;
    width: 100%;
  }
  .main__skills__list figure{
    margin: 0 auto;
    display: block;
    margin-bottom: 88px;
  }
  .main__skills__list figure:first-child{
    margin-top: 70px;
  }

  .main__skills__list figure:last-child{
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px)/*spスケール*/{
  .top-header__contact{
    display: none;
  }
  .top-header__humberger{
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    display: block;
    padding: 10px;
  }
  .top-header__humberger__inborder{
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 0px 13px
  }
  .top-header__humberger .top-header__humberger__inborder:last-child{
    margin-bottom: 0;
  }
  .main__theme{
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .main__sns{
    padding: 50px 0;
  }
  .main__sns__list a{
    width: 100%;
  }
}